
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #10161B;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

header {
  background-image: url('https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 177px 0;
  position: relative;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 30px;
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
}

form input {
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  flex: 1;
  position: relative;
  z-index: 1; 
}

form button {
  position: absolute;
  top: 9%;
  right: 10px; 
  background-color: #8d56fd;
  border: 0;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  padding: 12px 30px;
  cursor: pointer;
  z-index: 2;
}

nav.button .btn {
  position: absolute;
  top: 60px;
  right: 15px;
  background-color: #8d56fd;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
  text-decoration: none; 
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.btn {
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 4px 10px;
}

nav.buttonn .btnn {
  position: absolute;
  top: 125px;
  right: 15px;
  background-color: #8d56fd;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
  text-decoration: none; 
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.btn {
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 4px 10px;
}

.warning-message {
  color: #ea2234;
  text-align: center;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px;
  z-index: 1; 
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.nav.fund {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: rgb(124, 66, 201);
    z-index: 3;
}


.nav.fund {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: rgb(124, 66, 201);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: rgb(105, 17, 219);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(105, 17, 219);
    font-weight: 600;
}

.nav-item.active a {
    color: rgb(105, 17, 219);
    border-bottom: 3px solid rgb(124, 66, 201);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(125, 62, 207);
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn-default:hover {
  background-color: rgb(162, 122, 214);
}


@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}

.footer_items{
    color: beige;
}
